<h1>作成したルーティーンの一覧</h1>
{% if routines %}
    {% for routine in routines %}
    <div>
        <p>{{ routine.name }} : <b>{{ routine.wake_up_time }}</b></p>
        <a href="/routines/edit/{{ routine.id }}">編集</a>
        <form action="/routines/delete/{{ routine.id }}" method="POST" style="display:inline;">
            <button type="submit">削除</button>
        </form>
    </div>
    {% endfor %}
{% else %}
    <p>まだルーティーンがありません。</p>
{% endif %}
<a href="/routines/new">新しいルーティーンを作成</a>
<a href="/">トップページに戻る</a>